<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="<%= user.avatar_url %>" class="user-avatar">
    </div>
    <div class="col-md-10">
      <span class="label label-info user-id pull-right">ID: <%= user.id %></span>

      <h1>
        <%= user.name %>
        <br/>
        <small>
          <%= user.email %>
        </small>
      </h1>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-7">
      <h3>
        Attributes
      </h3>
      <div class="well">
        <%= form_for(upmin_model.instance, url: upmin_model_path(upmin_model.path_hash), html: { method: :put }) do |f| %>
          <% # Render each attribute %>
          <% upmin_model.klass.attributes.each do |attribute| %>
            <div class="form-group">
              <% # = f.label(attribute.to_s) # Not using this because it drops _id and this isn't always desirable %>
              <label for="<%= upmin_model.attribute_form_id(attribute) %>">
                <%= upmin_model.attribute_label_name(attribute) %>
              </label>
              <%= up_attribute(upmin_model.instance, attribute, locals: { form_builder: f }) %>
            </div>
          <% end %>
          <%= f.submit("Save", class: "btn btn-primary") %>
        <% end %>
      </div>
      <% if upmin_model.klass.associations.any? %>
        <% upmin_model.klass.associations.each do |association| %>
          <h4>
            <%= association.to_s.humanize %>
          </h4>
          <%= up_association(upmin_model.instance, association, limit: 5) %>
          <br>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-5">
      <% if upmin_model.klass.actions.any? %>
        <h3>
          Actions
        </h3>
        <hr/>
        <% upmin_model.klass.actions.each do |action| %>
          <h4>
            <%= action.to_s.capitalize.humanize %>
          </h4>
          <%= up_action(upmin_model.instance, action) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



<!-- This can also be placed into your own css files, just prefix everything with the .m-User class which Upmin adds
     to the body tag when rendering any user model. -->
<% content_for(:head) do %>
  <style>
    .user-id {
      font-size: 1em;
      margin-right: 20px;
      margin-top: 20px;
    }

    .user-avatar {
      border-radius: 40px;
      max-width: 80px;
      max-height: 80px;
      margin-top: 20px;
    }
  </style>
<% end %>

<% content_for(:javascript) do %>
  <script>
    // Insert your javascript here
  </script>
<% end %>
